@model Chatter.Models.Chat

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Chat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ChatMessage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChatMessage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChatTimestamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChatTimestamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ChatID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
